$color_1: var(--blue);
$color_2: var(--red);
$color_3: var(--color-strong);
$color_4: var(--color-hard);
$color_5: var(--color);
$color_6: var(--accent);
$color_7: var(--light);
$font-family_1: inherit;
$background-color_1: var(--bg-color-weak);
$background-color_2: var(--accent);
$background-color_3: transparent;
$background-color_4: var(--trans);
$background-color_5: rgba(0,0,0,0.2);
$background-color_6: var(--bg-color-soft);
$background-color_7: var(--shade);
$background-color_8: var(--bg-color);
$border-color_1: var(--color);
$border-color_2: var(--accent);

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	overflow-x: hidden;
	--accent: var(--blue);
	--trans: var(--bluex);
	--color: var(--dark);
	--color-hard: var(--darker);
	--color-strong: var(--darkest);
	--bg-color: var(--lightest);
	--bg-color-soft: var(--lighter);
	--bg-color-weak: var(--light);
	--nav-color: var(--lightest);
	--nav-bg-color: var(--darkest);
}
.dark {
	--color: var(--light);
	--color-hard: var(--lighter);
	--color-strong: var(--lightest);
	--bg-color: var(--darkest);
	--bg-color-soft: var(--darker);
	--bg-color-weak: var(--dark);
	--nav-color: var(--darkest);
	--nav-bg-color: var(--lightest);
}
.blue {
	color: $color_1;
}
.red {
	color: $color_2;
}
&:root {
	--lightest: #fff;
	--lighter: #f2f2f2;
	--light: #eee;
	--tint: #f2f2f220;
	--dark: #36393f;
	--darker: #2f3136;
	--darkest: #202225;
	--shade: #2f313620;
	--bluex: #2c6fef20;
	--blue: #2c6fef;
	--red: #e1503c;
	--redx: #e1503c20;
	--yellow: #eea71f;
	--yellowx: #eea71f20;
}
nav {
	z-index: 1;
}
h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 600;
	color: $color_3;
}
h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	color: $color_4;
}
h3 {
	margin: 0;
	font-size: 24px;
	font-weight: 600;
	color: $color_5;
}
p {
	font-size: inherit;
	color: $color_5;
	a {
		display: inline;
		position: relative;
		overflow: hidden;
	}
}
strong {
	color: $color_3;
}
a {
	outline: none;
	position: relative;
	color: $color_6;
	text-decoration: none;
	outline: none;
	border: 0;
	font-family: $font-family_1;
}
button {
	outline: none;
	border: 0;
	font-family: $font-family_1;
}
input {
	outline: none;
	border: 0;
	font-family: $font-family_1;
}
.btn {
	&:disabled {
		color: $color_5;
		background-color: $background-color_1;
	}
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 10px 20px;
	color: $color_7;
	background-color: $background-color_2;
	font-size: inherit;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	transition: 0.2s ease-out;
	&:not(.btn:disabled) {
		&:hover {
			filter: brightness(110%);
		}
		&:focus {
			filter: brightness(110%);
		}
	}
	&:active {
		filter: brightness(100%);
	}
	span {
		&:first-child {
			margin: 0;
		}
		margin: 0 0 0 5px;
	}
	.waves-ripple {
		position: absolute;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		opacity: 0;
		background-color: $background-color_5;
		-webkit-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
		transition-property: transform, opacity, -webkit-transform;
		transform: scale(0);
		pointer-events: none;
	}
}
.btn.subtle {
	color: $color_6;
	background-color: $background-color_3;
	&:hover {
		background-color: $background-color_4;
		filter: none;
	}
	&:focus {
		background-color: $background-color_4;
		filter: none;
	}
}
input[type=submit] {
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
	width: 100%;
}
input[type=text] {
	position: relative;
	padding: 20px 16px 8px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	color: $color_3;
	background-color: $background-color_6;
	border-radius: 4px;
	transition: background-color 0.2s linear;
	&:focus {
		background-color: $background-color_1;
	}
	&:valid {
		+ {
			label {
				top: 4px;
				font-size: 12px;
				color: $color_6 !important;
			}
		}
	}
	+ {
		label {
			position: absolute;
			top: 14px;
			left: 16px;
			font-size: inherit;
			color: $color_5;
			opacity: 1;
			user-select: none;
			pointer-events: none;
			z-index: 1;
			transition-property: top, color, font-size;
			transition-duration: 0.2s;
			transition-timing-function: ease-out;
		}
	}
}
input[type=password] {
	position: relative;
	padding: 20px 16px 8px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	color: $color_3;
	background-color: $background-color_6;
	border-radius: 4px;
	transition: background-color 0.2s linear;
	&:focus {
		background-color: $background-color_1;
	}
	&:valid {
		+ {
			label {
				top: 4px;
				font-size: 12px;
				color: $color_6 !important;
			}
		}
	}
	+ {
		label {
			position: absolute;
			top: 14px;
			left: 16px;
			font-size: inherit;
			color: $color_5;
			opacity: 1;
			user-select: none;
			pointer-events: none;
			z-index: 1;
			transition-property: top, color, font-size;
			transition-duration: 0.2s;
			transition-timing-function: ease-out;
		}
	}
}
.material-symbols-rounded {
	+ {
		input {
			padding: 20px 48px 8px 16px;
		}
	}
}
.wrapper {
	overflow: hidden;
}
.text {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 48px;
	border-radius: 4px;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		right: 0;
		width: 0;
		top: 46px;
		background-color: $background-color_2;
		height: 2px;
		border-radius: 0;
		transition-property: width;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}
	&:hover {
		&:after {
			left: 0;
			right: auto;
			width: 100%;
		}
	}
	&:focus-within {
		&:after {
			width: 100%;
		}
		input[type=text] {
			+ {
				label {
					top: 4px;
					font-size: 12px;
					color: $color_6 !important;
				}
			}
		}
		input[type=password] {
			+ {
				label {
					top: 4px;
					font-size: 12px;
					color: $color_6 !important;
				}
			}
		}
	}
	.material-symbols-rounded {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		top: 14px;
		right: 16px;
		color: $color_5;
		background-color: $background-color_3;
		border-radius: 0;
		z-index: 1;
		cursor: pointer;
	}
}
.text-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	.error {
		position: relative;
		margin: 0 0 0 16px;
		font-size: 14px;
	}
	.info {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.counter {
		position: relative;
		margin: 0 16px 0 0;
		color: $color_5;
		font-size: 14px;
	}
}
.radios {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	.radio {
		margin: 8px 0 0 0;
		&:first-child {
			margin: 0;
		}
	}
}
.radio {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	label {
		margin: 0 0 0 8px;
	}
}
input[type=radio] {
	position: relative;
	display: flex;
	margin: 0;
	width: 48px;
	height: 48px;
	opacity: 0;
	cursor: pointer;
	+ {
		.radio-circles {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 48px;
			height: 48px;
			pointer-events: none;
			.radio-outer {
				position: relative;
				box-sizing: border-box;
				width: 24px;
				height: 24px;
				border-width: 2px;
				border-color: $border-color_1;
				border-style: solid;
				border-radius: 50%;
				transition: 0.2s linear;
			}
			.radio-inner {
				position: absolute;
				background-color: $background-color_2;
				width: 0;
				height: 0;
				border-radius: 50%;
				transition: 0.1s linear;
			}
			.touch {
				position: absolute;
				background-color: $background-color_7;
				width: 0;
				height: 0;
				border-radius: 50%;
				transition: 0.1s linear;
			}
		}
	}
	&:checked {
		+ {
			.radio-circles {
				.radio-outer {
					position: relative;
					border-color: $border-color_2;
				}
				.radio-inner {
					position: absolute;
					margin: auto;
					width: 12px;
					height: 12px;
				}
				.touch {
					background-color: $background-color_4;
				}
			}
		}
	}
	&:hover {
		+ {
			.radio-circles {
				.touch {
					width: 48px;
					height: 48px;
				}
			}
		}
	}
	&:focus {
		+ {
			.radio-circles {
				.touch {
					width: 48px;
					height: 48px;
				}
			}
		}
	}
}
.checkboxes {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	.checkbox {
		margin: 8px 0 0 0;
		&:first-child {
			margin: 0;
		}
	}
}
.checkbox {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	label {
		margin: 0 0 0 8px;
	}
}
input[type=checkbox] {
	position: relative;
	display: flex;
	margin: 0;
	width: 48px;
	height: 48px;
	opacity: 0;
	cursor: pointer;
	&:checked {
		+ {
			.check {
				border-color: $border-color_2;
				&:after {
					transform: scale(0);
				}
				.checkmark {
					position: absolute;
					width: 20px;
					height: 20px;
					.tick {
						stroke-dashoffset: 0;
					}
				}
				.touch {
					background-color: $background-color_4;
				}
			}
		}
	}
	+ {
		.check {
			.touch {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: $background-color_7;
				width: 0;
				height: 0;
				border-radius: 50%;
				transition: 0.1s linear;
				z-index: 1;
			}
		}
	}
	&:hover {
		+ {
			.check {
				.touch {
					width: 48px;
					height: 48px;
				}
			}
		}
	}
	&:focus {
		+ {
			.check {
				.touch {
					width: 48px;
					height: 48px;
				}
			}
		}
	}
}
.check {
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: $background-color_2;
	width: 24px;
	height: 24px;
	border-width: 2px;
	border-color: $border-color_1;
	border-style: solid;
	border-radius: 2px;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.1s linear;
	&:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: $background-color_8;
		width: 20px;
		height: 20px;
		transition: all 0.1s ease-out;
	}
}
.checkmark {
	position: relative;
	width: 20px;
	height: 20px;
	.tick {
		position: absolute;
		stroke: var(--lightest);
		stroke-width: 3px;
		stroke-dashoffset: 30;
		stroke-dasharray: 30;
		stroke-linecap: round;
		stroke-linejoin: round;
		transition: all 0.1s linear;
	}
}
form {
	position: relative;
	display: block;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 0 64px 2px var(--bluex);
	.form-group {
		margin: 20px 0 0 0;
		&:first-child {
			margin: 0;
		}
	}
}
.form-title {
	font-size: 24px;
}
nav.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 200px;
	height: auto;
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style-type: none;
		li {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			padding: 0;
			height: 48px;
			box-sizing: border-box;
			a {
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				margin: 0;
				padding: 0 16px;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
			}
		}
	}
}
nav.headings {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 200px;
	height: auto;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.evenly {
	display: flex;
	justify-content: space-evenly;
}
.between {
	display: flex;
	justify-content: space-between;
}
.align-center {
	display: flex;
	align-items: center;
}
.align-start {
	display: flex;
	align-items: center;
}
.align-end {
	display: flex;
	align-items: end;
}
.box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.box-alt {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
@media only screen and (max-width: 800px) {
	.box {
		flex-direction: column !important;
	}
	.box-alt {
		flex-direction: column-reverse !important;
	}
}
